.Navigation {
	background-color: slategray;
	border-bottom: 2px solid lightgray;
	padding: 1rem;
}

.nav-link {
	color: white;
}

.nav-link.active {
	color: white !important;
	font-weight: bold;
}

.navbar-nav {
	float: right;
}

.navbar-brand {
	font-size: 150%;
	font-weight: bold;
	color: white;
}
